/* Schrift Importierung*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@500&family=Zen+Dots&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    border: 0;
    background: linear-gradient(#393939, #303030);
    
}


nav{
    /*Damit die Navigationsleite immer oben zu sehen ist*/
    position: sticky;
    /*Damit die links nicht untereinander sondern in einer Reihe sind*/
    display: flex;
    /*Damit der Barebones text auf der linken und die Links auf der rechten Seite sind*/
    justify-content: space-between;
    /*Damit Barebones auf der selben höhe wie die links sind*/
    align-items: center;
    
}
.name{
    /*Größe des Bareones Textes*/
    font-size: 25px;
}
ul {
    /*Damit die Links in einer Reihe sind*/
    display: flex;
    /*Damit die Stichpunkte weg sind*/
    list-style: none;
}
li{
    /*Abstand zwischen Einzelnen Li elementen + weiteres*/
    margin: 16px 14px;
}
a{
    color: aliceblue;
    /*Abstand zwischen Einzelnen Links*/
    padding: 8px 16px;
}
/*Bei schweben über Link zur Unterseite*/
a:hover{
    background-color: greenyellow;
    color: #303030;
    border-radius: 10px;
}

/*Unwichtig für den Text in der Mitte*/
.div h1 {
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}